# Frontend dependencies
node_modules/
frontend/node_modules/

# Frontend build files
dist/
frontend/dist/

# Python virtual environments
venv/
.venv/
chili_env/
backend/venv/
backend/.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment / secret files
.env
.env.local
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Dataset folders
dataset/
datasets/
data/

# Temporary files
*.log
*.tmp

# Project datasets
Chili Growth Stage Original Dataset/
dataset_split/
Test_Photos/

# Experimental / training model files
best_efficientnetb0.keras
best_efficientnetb0_finetuned.keras
best_mobilenetv2.keras
best_mobilenetv2_finetuned.keras
final_chili_maturity_model.keras